
body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  li.search {
    display: block;
  }

  header.jumbotron {
    padding-top: 9em;
  }

  span.searchSmall{
    display: none;
  }

  @media screen and (max-width: 600px) {
    li.search {
      display: none;
    }

    header.jumbotron {
      padding-top: 10em;
    }

    .footer .container .row ul li{
      text-align: center;
    }

    span.searchSmall{
      display: inline;
    }

  }


  ul.a {
    list-style: none;
    padding: 0px;
  }

  ul.a li:before {
    content: '\003E';
    margin: 0 1em;
  }

  ul.b {
    list-style: none;
    padding: 0px;
  }

  ul.b li:before {
    content: '\003E';
    margin: 0 1em;
  }

  .navbar{
    box-shadow: 0px 3px 10px black; margin-bottom: 0;
  } 
  .navbar .container-fluid .navbar-header .navbar-brand {
    color: white;font-weight: bold; padding-top: 10px;
  }
  
  .navbar .container-fluid .navbar-header .navbar-brand img{
    background-color: white;border-radius: 100%; 
  }

  .navbar .container-fluid .collapse .nav li{
    margin:0 0.5em;
  }

  .navbar .container-fluid .navbar-header .searchSmall a i{
    color: white; margin-top: 15px; margin-left: 8em;
  }

  .navbar .container-fluid .collapse .nav li:hover .ab{
    background-color: #fff;
    background-position: 0 100%;
    color: black; 
  }
  
  .noHover{
    pointer-events: none;
  }
  
  .navbar .container-fluid .collapse .nav li .ab{
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 50%,rgb(34, 34, 34) 50%);
    color: rgb(255, 255, 255);
  }
  .jumbotron{
    margin: 0; background-repeat: no-repeat;background-size: cover;height: auto;
  }
  .jumbotron .container{
    text-align: center;
  }
  .jumbotron .container .row-header  p{
    font-size: 4em;color: white;
  }
  .jumbotron .container .row-header  p span{
    color: rgb(255, 208, 0);
  }
  .jumbotron .container .row-header  input {
    width: 50%;font-style: italic; border-radius: 50px; border: none; padding:0.5em 2.1em;
  }
  .jumbotron .container .row  {
    margin:3em 0;border-right:1px solid gray ; color: rgb(255, 187, 0);font-weight: bolder;
  }
  .jumbotron .container .row .col-md-3 h2{
    font-size: 2.3em; font-weight: bold;padding:3px 0;margin:0;
  }
  .jumbotron .container .row  h3{
    display: block;color: white;padding:3px 0;margin:0;
  }

  .tabs1 ul{
    color: gray; font-size: 1.3em;
  }

  .tabs1 .tab-content {
    font-size: 1em;
  }

  .tabs1 .tab-content .tab-pane li{
    padding:0.8em 0 ;
    border-bottom: 1px solid rgb(211, 208, 208);
  } 

  .Img-gallray{
    background-color:rgb(200, 200, 200);width: 100%;
  }

  .Img-gallray  .row{
    padding:2em 8em;
  }

  .Img-gallray  img{
    width: 100%;height: 10em;
    margin: 1.5em 0; 
  }

  .Img-gallray  p{
    font-size: 1.19em;font-weight: 500; 
  }
  .Img-gallray .row .col-12 {
    box-shadow: none;

}

.Img-gallray .row .col-12:hover {

    box-shadow: 0em 0.625em 2em 0.0625em #141313;

}

  .Help-list{
     margin-top: 2em;
     margin-bottom: 2em;
  }

  .Help-list .row  ul{
    color: gray;margin: 2em 0;
  } 

  .Help-list .row li{
    margin:0.5em 0 ;font-size: 17px;
  }

  .slide ol li{
    background-color: black;
    border: 1px solid black;
  }
  .carousel-inner{
    display: block; width: 43.75em; height: 18.75; margin-left: auto;margin-right: auto;
  }

  .carousel-inner .item img{
    float: left; width:14.0625em;height: 14.0625em; border-radius: 500px;
  }

  .carousel-inner .item p{
    color: #333; font-style: italic;font-size: 0.7em;text-align: start;
  }
  .carousel-inner .item p span{
    font-weight: 700;
  }

  .footer{
    background-color: rgb(36, 29, 29);font-size: 1.19em;font-weight: 500;
  }

  .footer .container .row .col-4 {
    margin-top: 1em; padding: 1.5em 0;
  }

  .footer .container .row ul li{
    margin: 1em 0;
  }

  .footer .container .row .col-4 ul li a{
    color: rgb(255, 254, 254); text-decoration:none;
  }

  .footer .container .row .col-4 ul li a:hover{
    color: orange;
  }

  .footer .cop {
    padding: 0.5em 0;margin: 0; color: rgb(144, 139, 132); border-top:2px solid rgb(24, 22, 22);
  }



.fli img{
  height: 8em;
  width:11.25em;
  margin-right: 1em;
}
.fli .flickity-prev-next-button{
  padding:3em 1.875em ;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(119, 113, 113);
} 
